In [2]:
import streamlit as st
import pandas as pd

In [91]:
server = 'mtnatega.postgres.database.azure.com'
database = 'postgres'
username = 'natega'
password = 'Mt100323'
port = '5432'
sslmode = 'require'
conn = psycopg2.connect(
host=server,
database=database,
user=username,
password=password,
port=port,
sslmode=sslmode
)
cur = conn.cursor()
select_query = '''
SELECT pid, usename, datname, client_addr, state FROM pg_stat_activity;
    '''
cur.execute(select_query)
display(pd.DataFrame(cur.fetchall(), columns=[i[0] for i in cur.description]))
cur.close()
conn.close()

     pid  usename            datname     client_addr                state
0   1180  azuresu          azure_sys            None                 None
1   1181  azuresu           postgres            None                 None
2   1182  azuresu               None            None                 None
3   1176  azuresu  azure_maintenance            None                 None
4   1178  azuresu          azure_sys            None                 None
5   1179  azuresu          azure_sys            None                 None
6   1174     None               None            None                 None
7   5413   natega           postgres  197.46.216.124  idle in transaction
8   5371  azuresu  azure_maintenance       127.0.0.1                 idle
9   5414   natega           postgres  197.46.216.124  idle in transaction
10  2403  azuresu           postgres       127.0.0.1                 idle
11  5374  azuresu           postgres       127.0.0.1                 idle
12  4337  azuresu           postgres       127.0.0.1                 idle
13  5415   natega           postgres  197.46.216.124                 idle
14  5416   natega           postgres  197.46.216.124               active
15  1167     None               None            None                 None
16  1175     None               None            None                 None
17  1166     None               None            None                 None
18  1173     None               None            None                 None

In [93]:
server = 'mtnatega.postgres.database.azure.com'
database = 'postgres'
username = 'natega'
password = 'Mt100323'
port = '5432'
sslmode = 'require'
conn = psycopg2.connect(
host=server,
database=database,
user=username,
password=password,
port=port,
sslmode=sslmode
)
cur = conn.cursor()
select_query = '''
    SELECT add_number FROM form
    '''
cur.execute(select_query)
data = pd.DataFrame(cur.fetchall()).value_counts()
sums = 0
for i, j in enumerate(data, start = 1):
    sums+= j*i
sums, pd.DataFrame(data)

(203,
                        count
 0
 Ø§ØªÙ†ÙŠÙ† Ù…Ø±Ø§ÙÙ‚ÙŠÙ†Â (200Â Ø¬)     68
 Ù…Ø±Ø§ÙÙ‚ ÙˆØ§Ø­Ø¯ (100 Ø¬)        63
 Ø«Ù„Ø§Ø« Ù…Ø±Ø§ÙÙ‚ÙŠÙ† (300 Ø¬)       3)

In [3]:
import psycopg2

server = 'mtnatega.postgres.database.azure.com'
database = 'postgres'
username = 'natega'
password = 'Mt100323'
port = '5432'
sslmode = 'require'
conn = psycopg2.connect(
    host=server,
    database=database,
    user=username,
    password=password,
    port=port,
    sslmode=sslmode
)
cur = conn.cursor()
select_query = '''
    SELECT count(*) FROM form
    '''
cur.execute(select_query)
print(cur.fetchone())
conn.commit()
cur.close()
conn.close()

(129,)

In [20]:
import psycopg2

server = 'mtnatega.postgres.database.azure.com'
database = 'postgres'
username = 'natega'
password = 'Mt100323'
port = '5432'
sslmode = 'require'
conn = psycopg2.connect(
    host=server,
    database=database,
    user=username,
    password=password,
    port=port,
    sslmode=sslmode
)
cur = conn.cursor()
select_query = '''
ALTER TABLE form
ALTER COLUMN add_number TYPE VARCHAR(25);
'''
cur.execute(select_query)
conn.commit()
cur.close()
conn.close()

In [81]:
%%writefile form.py
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import streamlit as st
import numpy as np
import psycopg2
import re

if 'server' not in globals():
    server = 'mtnatega.postgres.database.azure.com'
    database = 'postgres'
    username = 'natega'
    password = 'Mt100323'
    port = '5432'
    sslmode = 'require'

@st.dialog("Ù…Ø³Ø­ Ø¨ÙŠØ§Ù†Ø§ØªÙƒ")
def delete():
    st.session_state['success'] = False
    st.session_state['message'] = ''
    st.write(f"Ù‡Ù„ Ø§Ù†Øª Ù…ØªØ£ÙƒØ¯ Ø§Ù†Ùƒ Ø¹Ø§ÙˆØ² ØªÙ…Ø³Ø­ Ø¨ÙŠØ§Ù†Ø§ØªÙƒØŸ")
    reason = st.text_input("Ø§Ù„Ø±Ù‚Ù… Ø§Ù„Ù‚ÙˆÙ…ÙŠ", key='ID_delete', placeholder='Ø§Ù„Ø±Ù‚Ù… Ø§Ù„Ù‚ÙˆÙ…ÙŠ', label_visibility='collapsed',max_chars = 14)
    if st.button("ØªØ£ÙƒÙŠØ¯", use_container_width=True):
        if not st.session_state['ID_delete'].isalnum() or not len(st.session_state['ID_delete']) == 14:
            st.toast('Ø§Ù„Ø±Ù‚Ù… Ø§Ù„Ù‚ÙˆÙ…ÙŠ Ù„ÙŠØ³ ØµØ­ÙŠØ­', icon='ğŸš¨')
        while True:
            try:
                conn = psycopg2.connect(
                    host=server,
                    database=database,
                    user=username,
                    password=password,
                    port=port,
                    sslmode=sslmode
                )
                cur = conn.cursor()
                select_query = '''
                    SELECT id FROM form
                    '''
                cur.execute(select_query)
                if st.session_state['ID_delete'] not in tuple(i[0] for i in cur.fetchall()):
                    st.toast('Ø§Ù„Ø±Ù‚Ù… Ø§Ù„Ù‚ÙˆÙ…ÙŠ Ù„ÙŠØ³ Ù…Ø³Ø¬Ù„', icon='ğŸš¨')
                    break
                cur = conn.cursor()
                delete_query = '''
                    DELETE FROM form
                    WHERE id = %s
                    '''
                cur.execute(delete_query, (st.session_state['ID_delete'],))
                conn.commit()
                cur.close()
                conn.close()
                st.toast('ØªÙ… Ø§Ù„Ù…Ø³Ø­', icon='ğŸ—‘ï¸')
                break
            except:
                pass


if "number" not in globals():
    conn = psycopg2.connect(
    host=server,
    database=database,
    user=username,
    password=password,
    port=port,
    sslmode=sslmode
    )
    cur = conn.cursor()
    select_query = '''
        SELECT add_number FROM form
        '''
    cur.execute(select_query)
    data = pd.DataFrame(cur.fetchall()).value_counts()
    sums = 0
    for i, j in enumerate(data, start = 1):
        sums += j*i
    number = sums
    cur.close()
    conn.close()

st.set_page_config(page_title='Ø²ÙŠØ§Ø¯Ø© Ù…Ø±Ø§ÙÙ‚ÙŠÙ†', page_icon='ğŸ“', initial_sidebar_state='collapsed')
if 'message' not in st.session_state:
    st.session_state['message'] = '' 

def is_arabic_and_spaces_only(text):
    # Regular expression to match Arabic characters and spaces
    arabic_and_space_pattern = re.compile(r'^[\u0600-\u06FF\s]+$')

    # Check if the text matches the pattern
    return bool(arabic_and_space_pattern.match(text))

# Initialize session state for storing the result
if 'dep' not in st.session_state:
    st.session_state['dep'] = None
    st.session_state['name'] = None
    st.session_state['phone'] = None
    st.session_state['ID'] = None
    st.session_state['payment_no'] = None
    st.session_state['success'] = False

# Function to fetch data
  
def save_data():
    while True:
        try:
            conn = psycopg2.connect(
                host=server,
                database=database,
                user=username,
                password=password,
                port=port,
                sslmode=sslmode
            )
            cur = conn.cursor()
            select_query = '''
                SELECT add_number FROM form
                '''
            cur.execute(select_query)
            data = pd.DataFrame(cur.fetchall()).value_counts()
            sums = 0
            for i, j in enumerate(data, start = 1):
                sums += j*i
            number = sums
            cur = conn.cursor()
            select_query = '''
            SELECT id, pay_no FROM form
            '''
            cur.execute(select_query)
            ids = tuple(item for sublist in cur.fetchall() for item in sublist)
            if number < 400:
                if ids.count(st.session_state['ID']) == 0:
                    if st.session_state['pay_no'] not in ids:
                        insert_query = '''
                        INSERT INTO form(name, dep, id, phone, pay_no, add_number, id_image_name, id_image, pay_image_name, pay_image) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
                        '''
                        cur.execute(insert_query, (st.session_state['name'], st.session_state['dep'], st.session_state['ID'],
                                                   st.session_state['phone'], st.session_state['pay_no'], st.session_state['add_no'],
                                                   st.session_state['ID_image'].name,st.session_state['ID_image'].getvalue(),
                                                   st.session_state['pay_image'].name,st.session_state['pay_image'].getvalue()
                                                  ))
                        conn.commit()
                        st.session_state['success'] = True
                    else:
                        st.session_state['message'] = 'Ø±Ù‚Ù… Ø§Ù„ØªØ­ÙˆÙŠÙ„ Ù…ÙƒØ±Ø±'
                else:
                    st.session_state['message'] = 'Ø§Ù†Øª Ø³Ø¬Ù„Øª Ø¨Ø§Ù„ÙØ¹Ù„'
            else:
                st.session_state['message'] = "Ø§Ù„Ø¹Ø¯Ø¯ Ø§ÙƒØªÙ…Ù„"
            cur.close()
            conn.close()
            break
        except:
            pass

def handle_button():
    st.session_state['success'] = False
    st.session_state['message'] = ''
    if st.session_state['name'] == None:
        st.session_state['message'] = 'Ø§ÙƒØªØ¨ Ø§Ù„Ø§Ø³Ù…'
    elif st.session_state['dep'] == None:
        st.session_state['message'] = 'Ø§Ø®ØªØ§Ø± Ø§Ù„Ù‚Ø³Ù…'
    elif st.session_state['ID'] == None:
        st.session_state['message'] = 'Ø§ÙƒØªØ¨ Ø§Ù„Ø±Ù‚Ù… Ø§Ù„Ù‚ÙˆÙ…ÙŠ'
    elif st.session_state['phone'] == None:
        st.session_state['message'] = 'Ø§ÙƒØªØ¨ Ø±Ù‚Ù… Ø§Ù„Ù‡Ø§ØªÙ'
    elif st.session_state['pay_no'] == None:
        st.session_state['message'] = 'Ø§ÙƒØªØ¨ Ø±Ù‚Ù… Ø¹Ù…Ù„ÙŠØ© Ø§Ù„Ø¯ÙØ¹'
    elif st.session_state['ID_image'] == None:
        st.session_state['message'] = 'Ø§Ø±ÙØ¹ ØµÙˆØ±Ø© Ø§Ù„Ø¨Ø·Ø§Ù‚Ø© Ø§Ù„Ø´Ø®ØµÙŠØ©'
    elif st.session_state['pay_image'] == None:
        st.session_state['message'] = 'Ø§Ø±ÙØ¹ ØµÙˆØ±Ø© Ø§Ù„ØªØ­ÙˆÙŠÙ„'
    else:
        if not is_arabic_and_spaces_only(st.session_state['name']):
            st.session_state['message'] = 'Ø§ÙƒØªØ¨ Ø§Ù„Ø§Ø³Ù… Ø¨Ø§Ù„Ø¹Ø±Ø¨ÙŠ'
        elif len(st.session_state['name'].strip().split()) < 4:
            st.session_state['message'] = 'Ø§ÙƒØªØ¨ Ø§Ù„Ø§Ø³Ù… Ø±Ø¨Ø§Ø¹ÙŠ'
        elif len(st.session_state['ID']) != 14:
            st.session_state['message'] = 'Ø§ÙƒØªØ¨ Ø±Ù‚Ù… Ù‚ÙˆÙ…ÙŠ ØµØ­ÙŠØ­'
        elif len(st.session_state['phone']) < 11:
            st.session_state['message'] = 'Ø§ÙƒØªØ¨ Ø±Ù‚Ù… Ù‡Ø§ØªÙ ØµØ­ÙŠØ­'
        elif len(st.session_state['pay_no']) > 200:
            st.session_state['message'] = 'Ø±Ù‚Ù… Ø¯ÙØ¹ ØµØ­ÙŠØ­'
        else:
            save_data()

if number < 400:
    st.markdown("""
        <style>
        div.stButton > button:first-child {
            background-color: white;
            color: black
        }
        </style>""", unsafe_allow_html=True)
    st.button("Ù…Ø³Ø­ Ø³Ø¬Ù„Ø§ØªÙŠ", use_container_width=True, on_click=delete)
    st.header(f"ÙÙˆØ±Ù… Ø²ÙŠØ§Ø¯Ø© Ø§Ù„Ù…Ø±Ø§ÙÙ‚ÙŠÙ†", divider='rainbow')
    with st.form("my_form"):
        col1, col2, col3 = st.columns([1.5, 1, 1])
        with col1:
            st.text_input('Ø§Ù„Ø§Ø³Ù… Ø¨Ø§Ù„Ø¹Ø±Ø¨ÙŠ Ø±Ø¨Ø§Ø¹ÙŠ', key='name', label_visibility='collapsed', placeholder="Ø§Ù„Ø§Ø³Ù… Ø¨Ø§Ù„Ø¹Ø±Ø¨ÙŠ Ø±Ø¨Ø§Ø¹ÙŠ")
        with col2:
            st.selectbox('Ø§Ù„Ù‚Ø³Ù…', key='dep', options=['Ù…ÙŠÙƒØ§Ù†ÙŠÙƒØ§ ØµÙ†Ø§Ø¹ÙŠØ©', 'Ù…ÙŠÙƒØ§ØªØ±ÙˆÙ†ÙŠÙƒØ³', 'Ø§ØªØµØ§Ù„Ø§Øª', 'ÙƒÙ‡Ø±Ø¨Ø§Ø¡', 'Ø­Ø§Ø³Ø¨Ø§Øª', 'Ù…ÙŠÙƒØ§Ù†ÙŠÙƒØ§ Ø§Ù†ØªØ§Ø¬', 'Ø§ØªØµØ§Ù„Ø§Øª credit', 'Ø¨Ø§ÙˆØ± credit', 'Ø·Ø¨ÙŠØ©'], label_visibility='collapsed', placeholder="Ø§Ù„Ù‚Ø³Ù…")
        with col3:
            st.selectbox('Ø¹Ø¯Ø¯ Ø§Ù„Ù…Ø±Ø§ÙÙ‚ÙŠÙ†', key='add_no', options=['Ù…Ø±Ø§ÙÙ‚ ÙˆØ§Ø­Ø¯ (100 Ø¬)', 'Ø§ØªÙ†ÙŠÙ† Ù…Ø±Ø§ÙÙ‚ÙŠÙ†Â (200Â Ø¬)', 'Ø«Ù„Ø§Ø« Ù…Ø±Ø§ÙÙ‚ÙŠÙ† (300 Ø¬)'], label_visibility='collapsed', placeholder="Ø¹Ø¯Ø¯ Ø§Ù„Ù…Ø±Ø§ÙÙ‚ÙŠÙ†")
        col1, col2, col3 = st.columns([1, 1, 1])
        with col1:
            st.text_input('Ø§Ù„Ø±Ù‚Ù… Ø§Ù„Ù‚ÙˆÙ…ÙŠ', key='ID', label_visibility='collapsed', placeholder="Ø§Ù„Ø±Ù‚Ù… Ø§Ù„Ù‚ÙˆÙ…ÙŠ", max_chars = 14)
        with col2:
            st.text_input('Ø±Ù‚Ù… Ø§Ù„Ù‡Ø§ØªÙ', key='phone', label_visibility='collapsed', placeholder="Ø±Ù‚Ù… Ø§Ù„Ù‡Ø§ØªÙ")
        with col3:
            st.text_input('Ø±Ù‚Ù… Ø¹Ù…Ù„ÙŠØ© Ø§Ù„Ø¯ÙØ¹', key='pay_no', label_visibility='collapsed', placeholder="Ø±Ù‚Ù… Ø¹Ù…Ù„ÙŠØ© Ø§Ù„Ø¯ÙØ¹")
        col1, col2 = st.columns([1, 1])
        with col1:
            st.file_uploader('ØµÙˆØ±Ø© Ø§Ù„Ø¨Ø·Ø§Ù‚Ø© Ø§Ù„Ø´Ø®ØµÙŠØ©', key='ID_image', type=['png', 'jpg'])
        with col2:
            st.file_uploader('ØµÙˆØ±Ø© Ø§Ù„ØªØ­ÙˆÙŠÙ„', key='pay_image', type=['png', 'jpg'])
        st.markdown("""
        <style>
        div.stButton > button:first-child {
            background-color: white;
            color: black
        }
        </style>""", unsafe_allow_html=True)
        st.form_submit_button("ØªØ£ÙƒÙŠØ¯", use_container_width=True, on_click=handle_button)
    if st.session_state['message'] != '':
        st.error(st.session_state['message'])
    if st.session_state['success']:
        st.success('ØªÙ…Øª Ø§Ù„Ø¹Ù…Ù„ÙŠØ© Ø¨Ù†Ø¬Ø§Ø­')
        st.balloons()
else:
    st.header(f"Ø§Ù„Ø¹Ø¯Ø¯ Ø§ÙƒØªÙ…Ù„", divider='rainbow')

Overwriting form.py

In [29]:
conn = psycopg2.connect(
    host=server,
    database=database,
    user=username,
    password=password,
    port=port,
    sslmode=sslmode
)
cur = conn.cursor()
select_query = '''
SELECT id, name, add_number, phone, pay_no FROM form
WHERE id = '30101282103732'
'''
cur.execute(select_query)
pd.DataFrame(cur.fetchall())

,0,1,2,3,4
0,30101282103732,Ø§Ø³Ù„Ø§Ù… Ù…Ø¯Ø­Øª ÙƒØ§Ù…Ù„ Ø³Ù„ÙŠÙ…Ø§Ù†,Ù…Ø±Ø§ÙÙ‚ ÙˆØ§Ø­Ø¯ (100 Ø¬),01112342484,007600497481

In [30]:
import psycopg2

server = 'mtnatega.postgres.database.azure.com'
database = 'postgres'
username = 'natega'
password = 'Mt100323'
port = '5432'
sslmode = 'require'
conn = psycopg2.connect(
    host=server,
    database=database,
    user=username,
    password=password,
    port=port,
    sslmode=sslmode
)
cur = conn.cursor()
select_query = '''
SELECT name FROM form
'''
cur.execute(select_query)
data = cur.fetchall()

In [83]:
import os, shutil

try:
    directory_path = 'ID/'
    shutil.rmtree(directory_path)
except Exception as e:
    directory_path = 'ID/'
    os.makedirs(directory_path, exist_ok=True)
try:
    directory_path = './PAY/'
    shutil.rmtree(directory_path)
except Exception as e:
    directory_path = './PAY/'
    os.makedirs(directory_path, exist_ok=True)

In [84]:
for row in data:
    no, name, dep, id, phone, pay_no, add_no, id_image_name, id_image, pay_image_name, pay_image = row
    # Convert memoryview to bytes
    id_image_bytes = id_image.tobytes() if isinstance(id_image, memoryview) else id_image
    pay_image_bytes = pay_image.tobytes() if isinstance(pay_image, memoryview) else pay_image
    
    # Save ID image
    with open("./ID/"+name+'_'+id+ '_id' + id_image_name[id_image_name.rfind('.'):], 'wb') as id_image_file:
        id_image_file.write(id_image_bytes)
    
    # Save Pay image
    with open("./PAY/"+name+'_'+id+ '_pay' + pay_image_name[pay_image_name.rfind('.'):], 'wb') as pay_image_file:
        pay_image_file.write(pay_image_bytes)

In [85]:
pd.DataFrame(data).drop([0, 7, 8, 9, 10], axis = 1).rename({1:'Ø§Ù„Ø§Ø³Ù…', 2:'Ø§Ù„Ù‚Ø³Ù…', 3:'Ø§Ù„Ø±Ù‚Ù… Ø§Ù„Ù‚ÙˆÙ…ÙŠ', 4:'Ø±Ù‚Ù… Ø§Ù„Ù‡Ø§ØªÙ', 5:'Ø±Ù‚Ù… Ø¹Ù…Ù„ÙŠØ© Ø§Ù„ØªØ­ÙˆÙŠÙ„', 6:'Ø¹Ø¯Ø¯ Ø§Ù„Ù…Ø±Ø§ÙÙ‚ÙŠÙ†'}, axis = 1).to_excel('temp.xlsx')

In [30]:
pd.DataFrame(data, columns=['no', 'name', 'dep', 'id', 'phone', 'pay_no',
                            'add_no', 'id_image_name', 'id_image', 'pay_image_name', 'pay_image']).drop(['no', 'id_image_name', 'id_image', 'pay_image_name', 'pay_image'], axis = 1).to_excel('temp.xlsx')

In [31]:
pd.DataFrame(data, columns=['name']).to_excel('temp_name_add.xlsx')

In [21]:
cnx = psycopg2.connect(user="natega", password="{your_password}", host="mtnatega.postgres.database.azure.com", port=5432, database="postgres")
server = 'mtnatega.postgres.database.azure.com'
database = 'postgres'
username = 'natega'
password = 'Mt100323'
port = '5432'
sslmode = 'require'
conn = psycopg2.connect(
    host=server,
    database=database,
    user=username,
    password=password,
    port=port,
    sslmode=sslmode
)
cur = conn.cursor()
select_query = '''
DELETE FROM form
where id = '30101282103732'
'''
cur.execute(select_query)
conn.commit()

('30104102200319',
 '30104260103665',
 '30102170103426',
 '30201260104063',
 '30105030100167',
 '30204012100123',
 '29910180105692',
 '30101152105113',
 '30201260105396',
 '30012070103624',
 '30103211400356',
 '30104031200347',
 '30111232103052',
 '30006011601297',
 '30005162200476',
 '30104182101391',
 '29906220100071',
 '30109012107974',
 '30008052200135',
 'Ù£Ù Ù Ù Ù¥Ù¢Ù¢Ù¢Ù¡Ù Ù¢Ù¥Ù§Ù¦',
 '30006300101065',
 '30109121701592',
 '30102203100118',
 '29805120100219',
 '30107031202489',
 '30002110103732',
 '30101020103359',
 '30203052105865',
 '30107042200313',
 '30109160100709',
 '30012290100456',
 '30104200104069',
 '30104011813652',
 '30104192201556',
 '30107232105856',
 '30105162300327',
 '30002212102889',
 '30104061400332',
 '30109152401503',
 '30103090101089',
 '30105212100685',
 '30011161303212',
 '30007140102686',
 '29711020103526',
 '30109012100171',
 '29907120102014',
 '30101281301255',
 '30011271702023',
 '29912050105723',
 '30011172100607',
 '30108290101166',
 '30108222300878',
 '30012072104202',
 '30203190103997',
 '30008121300473',
 '30004170100468',
 '30109052100654',
 '30106251202718',
 '30108060104727',
 '30106142100301',
 '30105122101283',
 '30110071400667',
 '30005012203272',
 '30106061701602',
 '30104172201584',
 '30006260100702',
 '30109191701301',
 '30107010104045',
 '30105230100781',
 '29611098800245',
 '30203158800686',
 '30011232100032',
 '30011012100651',
 '30112178800482',
 '30111121700329',
 '30103282200358',
 '30105220101631',
 '30104030101868',
 '30001030105363',
 '30202120102407',
 '30012070104515',
 '30109261300792',
 '30105052106134',
 '30101012121674',
 '30111270105719',
 '30102151202634',
 '30110012722723',
 '29802270101729',
 '30105181401533',
 '30202152103618',
 '29912231800288',
 '30105161601919',
 '29805152302697',
 '29711202201795',
 '30108070101882',
 '30203042401369',
 '29903300101533',
 '29811250102043',
 '29912123100032',
 '30108202104231',
 '30103272100037',
 '30106021601028',
 '30109250100465',
 '30108200104242',
 '30006200104695',
 '30108110101252',
 '30112212101874',
 '29809242201992',
 '30008290101099',
 '30003010110975',
 '30102262200851',
 '30002120101398',
 '30108102102592',
 '30109160103937',
 '30107160100617',
 '30105042100391',
 '30106122101743',
 '30011130103576',
 '30108310102083',
 '30108160101687',
 'Ù£Ù Ù¡Ù Ù¤Ù¢Ù¥Ù¢Ù¡Ù Ù¤Ù£Ù¡Ù¨',
 '30011150106083',
 '30106052100531',
 '30108012715269',
 '30109040104565',
 '30004028800681',
 '30112040105673',
 '30012260103469',
 '30107040103477',
 '30101282103732',
 '30105092200311',
 '29912230100681',
 '30106252105104')